# Prettifying pandas DataFrames

## Data
We will use Seaborn penguins dataset. It contains data on penguins from three different species collected from three islands in the Palmer Archipelago, Antarctica. The dataset contains 344 observations and 17 variables. The dataset is available in Seaborn library.

In [1]:
from seaborn import load_dataset
import pandas as pd
import numpy as np

pd.options.display.precision = 2

# Load the data
columns = {'culmen_length_mm': 'length', 
           'culmen_depth_mm': 'depth',
           'flipper_length_mm': 'flipper',
           'body_mass_g': 'mass'}
df = load_dataset('penguins').rename(columns=columns)
df.head()

  species     island  bill_length_mm  bill_depth_mm  flipper    mass     sex
0  Adelie  Torgersen            39.1           18.7    181.0  3750.0    Male
1  Adelie  Torgersen            39.5           17.4    186.0  3800.0  Female
2  Adelie  Torgersen            40.3           18.0    195.0  3250.0  Female
3  Adelie  Torgersen             NaN            NaN      NaN     NaN     NaN
4  Adelie  Torgersen            36.7           19.3    193.0  3450.0  Female

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   species         344 non-null    object
 1   island          344 non-null    object
 2   bill_length_mm  342 non-null    float64
 3   bill_depth_mm   342 non-null    float64
 4   flipper         342 non-null    float64
 5   mass            342 non-null    float64
 6   sex             333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB